
.header {
  grid-area: h;
  background-color: #363636;
  box-shadow: 0 0 5px #b92619;
  border-bottom: 2px solid #b92619;
}

.header img {
  width: 50px;
}
.login-block {
  color: white;
  float: right;
  padding: 14px;
}